<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="website.terriblehack.keyboard">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

    </application>

    <service android:name=".SimpleIME"
        android:label="@string/simple_ime"
        android:permission="android.permission.BIND_INPUT_METHOD"
        >
        <meta-data android:name="android.view.im" android:resource="@xml/method"/>
        <intent-filter>
            <action android:name="android.view.InputMethod" />
        </intent-filter>
    </service>

</manifest>
